body {
    background-image: URL(../html/img);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;



}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

}

#header {
    background-color: black;
    color:white;
    text-align: center;
}

#navbar ul {
    list-style: none;
    padding: 0;
}


#navbar li {
    display: inline;
    /* to make all li in one row*/
}

#navbar a {
    text-decoration: none;
    padding-right: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;

}

#content {
    background-image: url(../html/image.jpg);
    height: 250px;
    text-align: center;
    word-spacing: 0.25em;
    padding-bottom: 10px;

}

#main {
    margin-top: 20px;
    float: left;
    width: 60%;
    padding: 0px;
    margin: 5px;
    box-sizing: border-box;


}

#main h1 {
    color: blue;

}

#main p {
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 0.1em;
}

#sidebar p {
    float: right;
    width: 25%;
    

    margin-top: 20px;
    padding: 10px;
    background: black;


  

    color: white;
    margin-right: 10px;
    box-sizing: border-box;





}

#footer p {
    width: auto;
    color: grey;
    background-color: black;
    margin-top: 40px;
    padding: 10px;




}

@media(max width:600px){ /*TO MAKE THE WEBSITE MORE RESPONSIVE*/
    #main{
        width:100%;
        float:none;
    }
    #sidebar{
        width:100%;
        float:none;
    }
}